.DS_Store
.idea
.vscode
.zip
package-lock.json
*.ai
*.log
*.psd
.sublime
exchangeStrapi.zip
exchangeStrapi/
.next
.next/
.env
.env.local
back.tar.gz
back.zip
node_modules/
npm-debug.*
source/css/*.css
source/css/*.map
Thumbs.db